# PostgreSQL
POSTGRES_DB=keycloak
POSTGRES_USER=keycloak
POSTGRES_PASSWORD=keycloak_password
POSTGRES_PORT=10002

# Keycloak
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin_password
KEYCLOAK_PORT=10000

# Next.js App
NEXT_PUBLIC_APP_URL=http://localhost:10001
NEXT_PUBLIC_KEYCLOAK_URL=http://localhost:10000
KEYCLOAK_REALM=project_idea
KEYCLOAK_CLIENT_ID=front
KEYCLOAK_CLIENT_SECRET=rwCJ9SR6aVTC5Qvz4MBUf15OqJX5wsHY
DATABASE_URL="postgresql://project_idea:project_idea@localhost:10002/project_idea"